@import "~@openfonts/roboto_latin/index.css";
@import "~@material-icons/font/css/all.css";

html, body {margin: 0; height: 100%; overflow: hidden;}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(45deg, #57003f 0%,#f57453 100%);
}
